[split_map]
batch_size=4
clean=FALSE

[data]
include_sample_subdirs=^B.*
exclude_sample_subdirs=^X.*

[gsnap]
k=15
d=Brassica_napus_v3.0.scaffold.fa
m=1
s=/data/temp_projects/AZM/INDEX/Brassica_napus_v3.0.scaffold.fa/Brassica_napus_CDS_v3.0.splicesites
nofails=TRUE
A=sam
N=1
B=4
t=2
D=/data/temp_projects/AZM/INDEX

[samtools_view]
b=TRUE
S=TRUE

[samtools_sort]

[samtools_index]


